{extend name="Layout:com_layout" /}
{block name="meta"}{include file="Public:meta" /}{/block}
{block name="title"}<title>Login</title>{/block}
{block name="link"}
    <link rel="stylesheet" href="/static/Console/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/Console/css/login-new.css">
{/block}
{block name="body"}
<body class="main">
    <div class="row">
        <form action="" method="post">
            <h1>Login In</h1>
            <div class="form-group">
                <!--<label for="InputUser">Username</label>-->
                <input type="text" class="form-control" placeholder="Username" required="" />
            </div>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Password" required="" />
            </div>
            <div class="form-group code" style="">
                <input type="text" class="form-control" placeholder="Code" required="" />
                <img src="" alt="code" class="form-control">
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="Submit" />
            </div>
        </form>
    </div>
</body>
{/block}
<!--{block name="script"}-->

<!--{/block}-->

